<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				WebSite CV - HugoClemt
			{% endblock %}
		</title>
		{% block stylesheets %}
		{% endblock %}


	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}
			 <script src="{{ asset('js/bootstrap.min.js') }}"></script>
		{% endblock %}

	</body>
</html>
